html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.inner {
    width: 750px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    width: 850px;
    height: 85px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header_main,
.header_nav {
    display: flex;
    justify-content: space-between;
}

.header_nav_main {
    display: flex;
    justify-content: flex-end;
    column-gap:20px;
    padding-right: 20px;
}

.nav_main {
   color: grey; 
   text-decoration: none;
}

a:hover {
    color: blue;  
    text-decoration: underline;
}

.main_image {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    position: relative;
}

h2 {
    font-weight: 600;
    font-size: 2.5rem;
    padding-top: 100px;
    padding-bottom: 10px;
    color: #464242;
}

h3 {
    color: #464242;
    margin-top: 5px;
    margin-bottom: 10px;
}

.note {
    font-size: 1.3rem;
    color: #9f9b9b;
}

video {
    position: relative;
    width: 750px;
    height: auto;
}

.link {
    color:orange;
    text-decoration: none;
}

.more_info {
    cursor: pointer;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 320px;
    border-bottom: 1px solid;
    color: #464242;
}

summary::before {
    content: "∨";
    font-size: 1.3rem;
    font-weight: bolder;
}

details[open] summary::before {
    content: "∧";
}

.date {
    margin-right: 20px;
    color: #464242;
}

.info_button {
    font-size: 1.6rem;
    color:orange;
    text-decoration: none;
}

.button {
    font-size: 1.6rem;
    color:orange;
    text-decoration: none;
}

.information_button {
    margin-bottom: 20px;
}

.media .sentence {
    color: #464242;
}

p, li {
    color: #464242;
    margin-bottom: 5px;
}

.point {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.graph {
    width: 650px;
    height: 790px;
    margin: auto;
    margin-top: 50px;
}

.other {
    font-weight: bold;
}

.Famm {
    color: #12dd37;
    font-weight: bold;
}

.Famm_school {
    margin-top: 30px;
}

.explanation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.explanation_details {
    width: 200px;
    margin-right: 5px;
    flex-wrap: wrap;
}

.image_photo {
    margin-top: 50px;
}

.features {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.features_details {
    width: 350px;
    flex-wrap: wrap;
}

.features_image_photo {
    margin-top: 50px;
    width: 350px;
    height: 170px;
}

.marker {
    background:linear-gradient(transparent 80%,#7FE892 70%)
}

.skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skills_content {
    display: flex;
    justify-content: space-start;
    flex-wrap: wrap;
    margin-top: 20px;
}

.skills_details {
    width: 245px;
}

.disc {
    list-style-type: disc;
    margin-left: 20px;
}

.comment {
    display: flex;
    justify-content: space-between;
}

.comment_1 {
    display: flex;
    width: 400px;
    height: 200px;
    margin-top: 60px;
}

.comment_2 {
    width: 400px;
}

.button_center {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.button {
    font-size: 1.6rem;
    color: #fff;
    padding: 10px 30px 10px 30px;
    border-radius: 40px;
    background-color: #F9B75B;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.contents {
    padding-left: 30px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.survey {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.picture {
    width: 350px;
}

.support {
    display: flex;
    justify-content: space-between;
}

.support_details {
    flex-wrap: wrap;
    width: 250px;
    padding-right: 20px;
}

.support_image {
    width: 190px;
    height: 190px;
}

.career {
    cursor: pointer;
    list-style: none;
    color: #464242;
}

span {
    color: #464242;
}

.teachers_details {
    display: flex;
    padding-bottom: 30px;
}

.teachers_photo {
    width: 250px;
}

.schedule {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.day {
    padding-top: 10px;
    padding-right: 35px;
}

.date {
    font-weight: bold;
}

.full {
    text-decoration: line-through;
    color: #464242
}

.question {
    cursor: pointer;
    list-style: none;
    padding-bottom: 10px;
    color:#464242;
}

.answer {
    color: #9f9b9b;
}

.other_lessons {
    display: flex;
    justify-content: space-between;
}

.other_lessons_details {
    display: flex;
    flex-wrap: wrap;
    padding-right: 20px;
}

.footer_image {
    width: 750px;
    margin: auto;
    margin-top: 100px;
    display: block;
}

.footer {
    width: 750px;
    margin: auto;
    padding-bottom: 50px;
}

.footer_p {
    font-weight: 600;
    font-size: 2.5rem;
    color: #464242;
}

.footer_nav_main {
    display: flex;
    justify-content: flex-end;
    column-gap:20px;
    padding-top: 30px;
    margin-bottom: 150px;
}
